 
#question-img {
  max-width: 300px;
  max-height: 300px;
  max-height: 100%;
}

.answer {
  border: 1px solid black;
 
  cursor: pointer;
 
  display: inline-block;
  
 
  /* other styles */
}

pre {
  white-space: pre-wrap;
}


.selected {
  background-color: lightgray;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

#result-counter {
  position: absolute;
  top: 20px;
  left: 0;
}

#restart-btn {
  position: absolute;
  top: 160px;
  left: 0;
  margin-left: 20px;
}
 